/* basic setting */
$body-bg: #ffffff;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$button-pink: #f67599;
$checked-color: #2a2a2a;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

/*寬高%設定*/
$sizes: (
  16: 16%,
  25: 25%,
  33: 33%,
  50: 50%,
  75: 75%,
  100: 100%
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

/*margin&padding設定*/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

/*步驟偽元素產生*/
@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}

/*html、body、display*/
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

/*flex、alignment、cursor*/
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

/*輸入欄位樣式*/
%input-style {
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  &:hover,
  &:focus {
    border-color: $dark-gray;
  }
}